@font-face {
  font-family: "Gotham-Bold";
  src: url("fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("fonts/Gotham-Book.otf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("fonts/Gotham-Medium.otf");
}

@font-face {
  font-family: "GothamNarrow-Medium";
  src: url("fonts/GothamNarrow-Medium.otf");
}

@font-face {
  font-family: "LHF";
  src: url("fonts/LHFegyptian.otf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.small-img img,
.info-burger-img img,
.product .gallery img,
.img-box img,
.link a img,
.gallery-col img,
.logo a img,
.navbar .nav-list .cart-box .cart-icon img,
.subscribe .img-box .gallery img,
.show-other a img,
.fb-sausage img,
.insta-sausage img,
.budge-90 img,
.copy-img img,
.blue-wave-small-img img,
.blue-wave-absolute img,
.purple-wave-img img,
.shop-other a img,
.green-small-icon img,
.green-wave-absolute img {
  width: 100%;
  display: block;
}

.navbar .nav-list .nav-item .nav-link,
.info-burger-img p,
.button-select button,
.button-select2 button,
.button-select3 button,
.show-other p,
.text-box,
form .email,
footer ul li a,
footer h2,
.green-text p {
  color: #ffffff;
}

.info-section .desc,
.quantity-info,
.quantity-btn button,
.quantity-btn input,
.testimonials,
.title,
.content,
.option .fa-chevron-down,
.copy-text,
.blue-wave-inner-box h2,
.green-text h4 {
  color: #119911;
}

.info-section .desc2,
.testimonials2,
.title2,
.content2,
.option2 .fa-chevron-down,
.quantity-info2,
.quantity-btn2 button,
.quantity-btn2 input {
  color: #ca0eca;
}

.info-section .desc3,
.testimonials3,
.option3 .fa-chevron-down,
.title3,
.content3,
.quantity-info3,
.quantity-btn3 button,
.quantity-btn3 input,
.copy-text-here {
  color: #4298ce;
}

header {
  background-image: url("images/00_header.jpg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Gotham-Bold";
}

.navbar {
  width: 75%;
  margin: 0 auto;
}

.logo {
  width: 230px;
}

.navbar .nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar .nav-list .nav-item {
  display: inline-block;
  padding: 40px 15px;
  flex-basis: 14.285%;
  text-align: center;
}

.navbar .nav-list .nav-item .nav-link {
  text-decoration: none;
  text-transform: uppercase;
}

.navbar .nav-list .cart-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .nav-list .cart-box .cart-icon {
  width: 30px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: -7px;
}

.shop-picture {
  padding: 90px 0;
}

.main-picture-box {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.main-picture-box .product {
  flex-basis: 33.333%;
}

.img-box-other-products .product,
.main-picture-box .product {
  transition: transform 0.8s;
}

.img-box-other-products .product:hover,
.main-picture-box .product:hover {
  transform: scale(1.1);
  transition: 1s ease-out;
}

.blue-wave {
  background-image: url("safeforweb_products_page/pp_blue.png");
  background-size: contain;
  width: 100%;
  height: 320px;
  background-repeat: repeat-x;
  position: relative;
}

.blue-wave-inner-box {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.blue-wave-img-box {
  display: flex;
  justify-content: space-around;
}

.blue-wave-small-img {
  flex-basis: 13%;
}

.purple-wave {
  background-color: #945d94bd;
  width: 100%;
  padding: 200px 0 60px;
  margin-top: -6%;
}

.purple-wave-inner-box {
  display: flex;
  align-items: flex-end;
  width: 90%;
  margin: 0 auto;
}

.purple-wave-img-box {
  display: flex;
  justify-content: center;
  width: 60%;
}

.purple-wave-text-box {
  width: 40%;
  color: #ffffff;
  padding-left: 50px;
}

.purple-wave-text-box h4,
.purple-wave-text-box h2 {
  margin-top: 0;
}

.purple-wave-text-box h2 {
  font-size: 70px;
  font-family: "GothamNarrow-Medium";
}

.purple-wave-text-box h4 {
  font-size: 25px;
  text-transform: uppercase;
  font-family: "GothamNarrow-Medium";
}

.purple-wave-text-box .shop-other {
  position: relative;
  width: 40%;
  margin-bottom: 40px;
}

.shop-other a img {
  position: relative;
}

.shop-other p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-transform: uppercase;
  font-family: "Gotham-Bold";
  color: #fff;
  font-size: 27px;
  width: 100%;
  text-align: center;
}

.purple-wave-img {
  flex-basis: 30%;
  align-self: center;
}

.orange-budge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -20%);
  background-color: #ee7919;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Gotham-Medium";
  padding: 15px 15px;
  border-radius: 50%;
}

.bigger {
  flex-basis: 40%;
  z-index: 2;
  position: relative;
}

.right-inside {
  margin-right: -5%;
}

.left-inside {
  margin-left: -5%;
}

.green-wave {
  background-image: url("safeforweb_products_page/pp_green.png");
  background-size: contain;
  width: 100%;
  background-repeat: repeat-x;
  position: relative;
  padding: 100px 0;
}

.green-wave-box {
  display: flex;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.green-text {
  flex-basis: 33.333%;
  text-align: center;
}

.green-text:not(:last-child) {
  border-right: 2px solid #119911;
}

.green-text h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "GothamNarrow-Medium";
  margin-top: 10px;
  margin-bottom: 7px;
}

.green-text p {
  margin: 0;
  font-family: "Gotham-Book";
  font-size: 13px;
}

.green-small-icon {
  width: 10%;
  margin: 0 auto;
}

.green-text .icon-envelope {
  width: 7%;
}

.copy-box {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.copy-img {
  flex-basis: 33.333%;
  margin: 10px;
}

.copy-text,
.copy-text-here {
  text-align: center;
  width: 45%;
  margin: 0 auto;
  padding: 50px 0;
}

.copy-text-here {
  padding: 90px 0;
}

.copy-text h2,
.copy-text-here h2,
.blue-wave-inner-box h2 {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 0;
  font-family: "Gotham-Bold";
}

.copy-text p,
.copy-text-here p {
  line-height: 1.4;
  font-size: 17px;
  font-family: "Gotham-Medium";
  margin: 0;
}

.ideas {
  padding-top: 50px;
}

.main-box {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}

.first-section,
.second-section {
  flex-basis: 50%;
}

.gallery-col {
  width: 100%;
}

.gallery-col:not(:last-child) {
  padding-bottom: 15px;
}

.first-img {
  position: relative;
}

.budge {
  position: absolute;
  width: 14%;
}

.budge-shop {
  position: absolute;
  width: 20%;
}

.budge-80-shop,
.budge-80g-shop,
.budge-90-shop {
  top: -20px;
}

.budge-80-shop {
  right: 15px;
}

.budge-80g-shop,
.budge-90-shop {
  right: 60px;
}

.budge-80 {
  top: -30px;
  right: 100px;
}

.budge-80g,
.budge-90 {
  top: 0px;
  right: 110px;
}

.second {
  width: 75%;
  margin: 0 auto;
}

.info-section {
  margin-left: 20px;
}

.info-burger-img {
  width: 250px;
  position: relative;
}

.info-burger-img p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Gotham-Bold";
}

.info-burger-img p span {
  font-size: 25px;
  font-family: "GothamNarrow-Medium";
}

.info-section .desc,
.info-section .desc2,
.info-section .desc3 {
  font-size: 20px;
  line-height: 1.5;
  font-family: "GothamNarrow-Medium";
}

.small-box-img {
  display: flex;
  width: 80%;
  padding-top: 40px;
}

.small-img {
  flex-basis: 20%;
}

.select {
  margin-left: 20px;
  padding-top: 70px;
}

.quantity-info h4,
.quantity-info2 h4,
.quantity-info3 h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Gotham-Bold";
}

.quantity-info p,
.quantity-info2 p,
.quantity-info3 p {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Gotham-Book";
}

.quantity-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.quantity-box2,
.quantity-box3 {
  width: 50%;
}

.first-select,
.second-select {
  flex-basis: 50%;
}

.first-select {
  margin-right: 20px;
}

.first-select2,
.first-select3 {
  width: 100%;
  padding-right: 20px;
}

.quantity-btn button,
.quantity-btn input {
  border: 2px solid #119911;
}

.quantity-btn3 button,
.quantity-btn3 input {
  border: 2px solid #4298ce;
}

.quantity-btn2 button,
.quantity-btn2 input {
  border: 2px solid #ca0eca;
}

.quantity-btn,
.quantity-btn2,
.quantity-btn3 {
  margin: 20px 0 40px;
  display: flex;
  width: 100%;
}

.quantity-btn button,
.quantity-btn input,
.quantity-btn2 button,
.quantity-btn2 input,
.quantity-btn3 button,
.quantity-btn3 input {
  outline: none;
  background-color: #ffffff;
  font-family: "Gotham-Bold";
  min-width: 0;
  padding: 10px 0;
}

.quantity-btn button,
.quantity-btn2 button,
.quantity-btn3 button {
  cursor: pointer;
  font-size: 17px;
  flex-basis: 20%;
}

.quantity-btn input,
.quantity-btn2 input,
.quantity-btn3 input {
  border-left: 0;
  border-right: 0;
  text-align: center;
  font-size: 17px;
  flex-grow: 1;
}

.button-select,
.button-select2,
.button-select3 {
  width: 100%;
  display: flex;
  font-family: "Gotham-Bold";
  justify-content: space-between;
}

.button-select button {
  background-color: #ee7919;
}

.button-select button:hover {
  background-color: #119911;
}

.button-select2 button {
  background-color: #9ce431;
}

.button-select2 button:hover {
  background-color: #ca0eca;
}

.button-select3 button {
  background-color: #e0697d;
}

.button-select3 button:hover {
  background-color: #4298ce;
}

.button-select button,
.button-select2 button,
.button-select3 button {
  border: 0px;
  outline: none;
  text-transform: uppercase;
  padding: 13px 30px;
  cursor: pointer;
}

.button-select button:not(:last-child),
.button-select2 button:not(:last-child),
.button-select3 button:not(:last-child) {
  margin-right: 6px;
}

.btn-buy,
.btn-find {
  flex-basis: 50%;
}

.select-icon,
.select-icon2 {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.fb-sausage,
.insta-sausage {
  width: 25px;
  height: 25px;
}

.testimonials,
.testimonials2,
.testimonials3 {
  font-size: 20px;
  margin-top: 40px;
  margin-left: 20px;
  line-height: 1.5;
  font-family: "GothamNarrow-Medium";
}

.testimonials h4,
.testimonials2 h4,
.testimonials3 h4 {
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
}

.testimonials p,
.testimonials2 p,
.testimonials3 p {
  margin-top: 0;
}

.accordion {
  margin-left: 20px;
}

.toggle {
  display: none;
}

.option,
.option2,
.option3 {
  position: relative;
}

.option:not(:last-child) {
  border-bottom: 4px solid #119911;
}

.option2:not(:last-child) {
  border-bottom: 4px solid #ca0eca;
}

.option3:not(:last-child) {
  border-bottom: 4px solid #4298ce;
}

.content,
.content2,
.content3 {
  transition: all 0.8s ease-in-out;
  background-color: #fff;
}

.option .fa-chevron-down,
.option2 .fa-chevron-down,
.option3 .fa-chevron-down {
  position: absolute;
  top: 20px;
  right: 0px;
  font-size: 18px;
}

.title,
.title2,
.title3 {
  font-size: 22px;
  padding: 15px 15px 15px 0;
  display: block;
  font-family: "Gotham-Bold";
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.content,
.content2,
.content3 {
  max-height: 0;
  overflow: hidden;
  font-family: "Gotham-Medium";
}

.content p,
.content2 p,
.content3 p {
  margin: 0;
  padding: 8px 16px 16px;
  line-height: 1.4;
}

.toggle:checked ~ .content,
.toggle:checked ~ .content2,
.toggle:checked ~ .content3 {
  max-height: 100vh;
}

.other-products {
  padding: 50px 0;
}

.text-box-other-products {
  color: #881b8894;
  text-align: center;
}

.text-box-other-products h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 0;
  font-family: "Gotham-Bold";
}

.text-box-other-products p {
  line-height: 1.4;
  font-size: 20px;
  margin-top: 0;
  font-family: "GothamNarrow-Medium";
}

.img-box-other-products {
  display: flex;
  width: 45%;
  margin: 0 auto;
}

.product {
  flex-basis: 50%;
  text-align: center;
}

.product:not(:last-child) {
  margin-right: 20px;
}

.product .gallery {
  width: 100%;
  margin: 0 auto;
}

.show-other {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.show-other a img {
  position: relative;
}

.show-other p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-transform: uppercase;
  font-family: "Gotham-Bold";
  font-size: 19px;
}

.show-other p span {
  font-family: "GothamNarrow-Medium";
  font-size: 16px;
}

.subscribe {
  position: relative;
  background-color: #87cefa;
}

.img-box {
  display: flex;
  width: 100%;
}

.img-box .gallery {
  flex-basis: 50%;
}

.img-box .gallery img {
  height: 370px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 0;
  margin-top: 0;
  font-family: "Gotham-Bold";
}

.text-box p {
  line-height: 1.4;
  font-size: 20px;
  font-family: "Gotham-Medium";
  margin-top: 0;
}

form .email {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  outline: none;
  border: 2px solid #ffffff;
  background-color: transparent;
  padding: 12px 20px;
  font-family: "Gotham-Bold";
  font-size: 17px;
}

form button {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  outline: none;
  border: 2px solid transparent;
  background-color: #ffffff;
  margin-left: -5px;
  padding: 12px 15px;
  color: #87cefa;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 17px;
  font-family: "Gotham-Bold";
}

::placeholder {
  text-align: center;
  color: #e2dddd;
  font-size: 17px;
  font-family: "Gotham-Medium";
  transition: all 0.3s ease;
}

form .email:focus::placeholder {
  color: transparent;
}

footer {
  display: flex;
  background-image: url("images/00_header.jpg");
  padding: 70px 0;
}

.social-icon,
.footer-manu {
  flex-basis: 50%;
}

.social-icon {
  align-self: flex-end;
}

.footer-manu {
  display: flex;
}

.list-one,
.list-two {
  flex-basis: 50%;
  font-family: "Gotham-Bold";
}

.media {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: auto;
}

.fallow,
.copy-rights {
  flex-basis: 50%;
}

.fallow {
  display: flex;
  width: 330px;
}

footer ul {
  list-style: none;
  margin: 0;
  font-size: 18px;
}

footer ul li:not(:last-child) {
  padding-bottom: 10px;
}

footer ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.copy-rights span {
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 1px;
}

footer h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 25px;
  font-family: "Gotham-Bold";
}

footer span,
i {
  color: #f5f5f5;
}

footer span {
  font-family: "LHF";
}

.link {
  display: flex;
  margin-left: auto;
}

.f-b,
.insta {
  flex-basis: 50%;
}

.f-b {
  margin-right: 10px;
}

.inner-fb,
.inner-insta {
  width: 30px;
  height: 30px;
}

@media (max-width: 1440px) {
  .purple-wave-text-box .shop-other p,
  .purple-wave-text-box h4 {
    font-size: 25px;
  }

  .purple-wave-text-box h2 {
    font-size: 45px;
  }

  .purple-wave-text-box .shop-other {
    width: 40%;
  }

  .copy-text,
  .copy-text-here {
    width: 60%;
  }

  .copy-box {
    width: 70%;
  }

  .navbar {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 1439px) {
  .navbar {
    width: 85%;
  }

  .logo {
    width: 170px;
  }

  .navbar .nav-list .nav-item .nav-link {
    font-size: 14px;
  }

  .select {
    padding-top: 50px;
  }

  .quantity-box {
    flex-direction: column;
  }

  .first-select {
    margin-right: 0px;
  }

  .first-select,
  .second-select {
    flex-basis: 100%;
  }

  .quantity-btn {
    margin: 15px 0 30px;
  }

  .quantity-btn button,
  .quantity-btn input {
    padding: 8px 12px;
  }

  .budge-80,
  .budge-80g,
  .budge-90 {
    right: 90px;
  }

  .blue-wave {
    height: 280px;
  }

  .blue-wave-inner-box {
    width: 60%;
  }

  .blue-wave-inner-box h2 {
    font-size: 20px;
  }

  .blue-wave-small-img {
    flex-basis: 13%;
  }

  .purple-wave {
    padding: 250px 0 60px;
    margin-top: -7%;
  }
}

@media (max-width: 1267px) {
  .blue-wave {
    height: 250px;
  }

  .blue-wave-inner-box h2 {
    font-size: 18px;
  }

  .blue-wave-small-img {
    flex-basis: 12%;
  }

  .purple-wave {
    margin-top: -9%;
  }
}

@media (max-width: 1024px) {
  .budge-80,
  .budge-80g,
  .budge-90 {
    right: 60px;
  }

  .navbar {
    width: 90%;
  }

  .logo {
    width: 150px;
  }

  .navbar .nav-list .nav-item {
    padding: 30px 10px;
  }

  .navbar .nav-list .nav-item .nav-link {
    font-size: 12px;
  }

  .navbar .nav-list .cart-box .cart-icon {
    width: 20px;
  }

  .quantity-box2,
  .quantity-box3 {
    width: 100%;
  }

  .testimonials,
  .testimonials2,
  .testimonials3,
  .info-section .desc,
  .info-section .desc2,
  .info-section .desc3 {
    font-size: 15px;
  }

  .title,
  .title2,
  .title3 {
    font-size: 17px;
    padding: 10px 10px 10px 0;
  }

  .content,
  .content2,
  .content3 {
    font-size: 10px;
  }

  .info-burger-img {
    width: 180px;
  }

  .info-burger-img p,
  .text-box h2,
  .text-box-other-products h2 {
    font-size: 20px;
  }

  .info-burger-img p span,
  .text-box p,
  .text-box-other-products p {
    font-size: 16px;
  }

  ::placeholder {
    font-size: 13px;
  }

  .img-box-other-products {
    width: 60%;
  }

  .show-other {
    width: 70%;
  }

  .text-box {
    width: 90%;
  }

  .copy-text,
  .copy-text-here {
    width: 60%;
  }

  .copy-text h2,
  .copy-text-here h2 {
    font-size: 20px;
  }

  .copy-text p,
  .copy-text-here p {
    font-size: 16px;
  }

  .copy-box {
    width: 80%;
  }

  .option .fa-chevron-down,
  .option2 .fa-chevron-down,
  .option3 .fa-chevron-down {
    top: 14px;
    font-size: 16px;
  }

  .purple-wave {
    padding: 60px 0 60px;
    margin-top: -1%;
  }

  .purple-wave-inner-box {
    width: 90%;
  }

  .purple-wave-img-box {
    justify-content: center;
    width: 70%;
  }

  .purple-wave-text-box .shop-other p,
  .purple-wave-text-box h4 {
    font-size: 16px;
  }

  .purple-wave-text-box h2 {
    font-size: 30px;
  }

  .purple-wave-text-box .shop-other {
    width: 40%;
  }

  .green-wave {
    padding: 80px 0;
  }

  .green-text h4 {
    font-size: 16px;
  }

  .green-text p {
    font-size: 11px;
  }

  .blue-wave {
    height: 200px;
  }

  .blue-wave-inner-box {
    width: 60%;
  }

  .blue-wave-inner-box h2 {
    font-size: 17px;
  }
}

@media (max-width: 1000px) {
  .blue-wave {
    height: 180px;
  }

  .blue-wave-inner-box h2 {
    font-size: 16px;
  }

  .blue-wave-small-img {
    flex-basis: 11%;
  }
}

@media (max-width: 901px) {
  .blue-wave {
    height: 160px;
  }
}

@media (max-width: 800px) {
  .navbar {
    width: 100%;
  }

  .logo {
    width: 120px;
  }

  .navbar .nav-list .nav-item .nav-link {
    font-size: 10px;
  }

  .testimonials,
  .testimonials2,
  .testimonials3,
  .info-section .desc,
  .info-section .desc2,
  .info-section .desc3 {
    font-size: 14px;
  }

  .title,
  .title2,
  .title3,
  .text-box-other-products p {
    font-size: 16px;
  }

  .content,
  .content2,
  .content3,
  .show-other p span {
    font-size: 9px;
  }

  .info-burger-img p {
    font-size: 19px;
  }

  .info-burger-img p span {
    font-size: 15px;
  }

  .text-box-other-products h2 {
    font-size: 20px;
  }

  .img-box-other-products {
    width: 50%;
  }

  .show-other p {
    font-size: 12px;
  }

  form .email,
  form button {
    font-size: 14px;
  }

  ::placeholder {
    font-size: 13px;
  }

  footer,
  .footer-manu {
    flex-wrap: wrap;
  }

  .fallow {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  footer h2 {
    text-align: center;
    font-size: 16px;
  }

  footer ul {
    font-size: 12px;
  }

  .link,
  .copy-rights {
    margin: 0 auto;
  }

  .copy-rights {
    padding-top: 50px;
  }

  .copy-rights span {
    font-size: 12px;
  }

  .social-icon,
  .footer-manu,
  .list-one,
  .list-two {
    flex-basis: 100%;
  }

  .list-two .footer-list:first-child {
    padding-top: 10px;
  }

  .social-icon {
    padding-right: 0px;
  }

  .footer-list {
    padding-left: 0;
    text-align: center;
  }

  .media {
    padding-top: 50px;
    margin: 0 auto;
    width: auto;
  }

  .button-select button {
    font-size: 10px;
  }

  .copy-box {
    width: 90%;
  }

  .blue-wave {
    height: 140px;
  }

  .purple-wave {
    margin-top: -7px;
  }
}

@media (max-width: 768px) {
  .main-picture-box {
    flex-direction: column;
  }

  .main-picture-box .product {
    margin-right: 0;
  }

  .main-picture-box .product:not(:last-child) {
    margin-bottom: 80px;
  }

  .main-picture-box .product .gallery-col {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .main-picture-box .show-other {
    width: 40%;
  }

  .main-picture-box .product .show-other p {
    font-size: 19px;
  }

  .main-picture-box .product .show-other p span {
    font-size: 16px;
  }

  .budge-80-shop {
    right: 50px;
    top: -40px;
  }

  .main-box {
    padding-bottom: 30px;
  }

  form .email,
  form button {
    font-size: 14px;
  }

  .option .fa-chevron-down,
  .option2 .fa-chevron-down,
  .option3 .fa-chevron-down {
    top: 13px;
    font-size: 14px;
  }

  .purple-wave {
    padding: 100px 0 60px;
    margin-top: -8%;
  }

  .purple-wave-inner-box {
    flex-direction: column-reverse;
    justify-content: center;
    width: 80%;
  }

  .purple-wave-img-box {
    justify-content: center;
  }

  .purple-wave-img-box,
  .purple-wave-text-box {
    width: 100%;
  }

  .purple-wave-text-box {
    padding-bottom: 60px;
  }

  .purple-wave-text-box .shop-other {
    width: 40%;
  }

  .purple-wave-text-box {
    padding-left: 22px;
  }

  .purple-wave-text-box .shop-other {
    margin-bottom: 0px;
  }

  .green-wave {
    padding: 60px 0;
  }

  .green-wave-box {
    width: 80%;
  }

  .green-text h4 {
    font-size: 14px;
  }

  .green-text p {
    display: none;
  }
}

@media (max-width: 715px) {
  form .email,
  form button {
    padding: 10px 20px;
  }

  form .email {
    width: 150px;
  }

  ::placeholder {
    font-size: 10px;
  }

  .green-wave {
    padding: 50px 0;
  }

  .blue-wave {
    height: 120px;
  }

  .blue-wave-inner-box h2 {
    font-size: 14px;
  }

  .blue-wave-small-img {
    flex-basis: 11%;
  }
}

@media (max-width: 672px) {
  .show-other {
    width: 50%;
  }

  .navbar .nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .one {
    order: 3;
  }

  .two {
    order: 4;
  }

  .three {
    order: 5;
  }

  .four {
    order: 6;
  }

  .five {
    order: 7;
  }

  .six {
    order: 8;
  }

  .navbar .nav-list .nav-item {
    padding: 10px 15px;
  }

  .accordion,
  .testimonials,
  .testimonials2,
  .testimonials3,
  .info-section {
    margin-left: 0px;
  }

  .main-box {
    flex-direction: column;
  }

  .first-section,
  .second-section {
    flex-basis: 100%;
  }

  .second {
    display: none;
  }

  form .email,
  form button {
    font-size: 13px;
  }

  .copy-box {
    flex-direction: column;
    width: 80%;
  }

  .main-picture-box .product .gallery-col {
    width: 100%;
  }

  .green-text h4 {
    font-size: 12px;
  }

  .green-wave {
    padding: 40px 0;
  }

  .blue-wave-inner-box h2 {
    font-size: 12px;
  }

  .blue-wave-small-img {
    flex-basis: 10%;
  }
}

@media (max-width: 545px) {
  .main-picture-box .show-other {
    width: 50%;
  }

  form .email,
  form button {
    padding: 5px;
    font-size: 9px;
  }

  form .email {
    width: 80px;
  }

  ::placeholder,
  .text-box p {
    font-size: 10px;
  }

  .text-box h2 {
    font-size: 12px;
  }

  .text-box-other-products {
    width: 80%;
    margin: 0 auto;
  }

  .text-box-other-products h2 {
    font-size: 16px;
  }

  .text-box-other-products p {
    font-size: 11px;
  }

  .img-box-other-products {
    flex-direction: column;
    width: 80%;
  }

  .product {
    flex-basis: 100%;
  }

  .product:first-child {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .copy-rights span {
    font-size: 10px;
  }

  .select {
    margin-left: 0px;
    padding-top: 50px;
  }

  .quantity-btn button,
  .quantity-btn input {
    font-size: 13px;
  }

  .text-box {
    width: 70%;
  }

  .blue-wave-inner-box h2 {
    font-size: 8px;
  }

  .purple-wave {
    padding: 60px 0 60px;
  }

  .purple-wave-inner-box {
    flex-direction: column-reverse;
    align-items: center;
  }

  .purple-wave-img-box,
  .purple-wave-text-box {
    width: 80%;
  }

  .purple-wave-img-box {
    flex-direction: column;
  }

  .purple-wave-text-box {
    padding-bottom: 60px;
  }

  .purple-wave-text-box h2 {
    font-size: 30px;
  }

  .purple-wave-text-box .shop-other p,
  .purple-wave-text-box h4 {
    font-size: 12px;
  }

  .purple-wave-text-box .shop-other {
    width: 50%;
  }

  .purple-wave-img:not(:last-child) {
    margin-bottom: 10px;
  }

  .right-inside {
    margin-right: 0;
  }

  .left-inside {
    margin-left: 0;
  }

  .purple-wave-text-box {
    padding-left: 0px;
  }

  .green-text h4 {
    font-size: 10px;
  }

  .green-wave {
    padding: 30px 0;
  }

  .blue-wave {
    height: 90px;
  }
}

@media (max-width: 426px) {
  .green-small-icon {
    display: none;
  }

  .green-text h4 {
    font-size: 7px;
  }

  .blue-wave {
    height: 80px;
  }

  .blue-wave-inner-box {
    width: 100%;
  }

  .blue-wave-inner-box h2 {
    font-size: 7px;
  }

  .orange-budge {
    display: none;
  }
}

@media (max-width: 400px) {
  .main-picture-box .product .show-other p {
    font-size: 12px;
  }

  .main-picture-box .product .show-other p span {
    font-size: 9px;
  }

  .green-wave {
    padding: 27px 0;
  }

  .blue-wave {
    height: 70px;
  }
}
